<div class="pt-3">
</div>

<h3 class="summary-headers">
  <strong>Portfolio Overview</strong>
</h3>
<div class="dm-sans">
  <p>
    <ul>
      <li>
        Current Cash Balance: <%= number_to_currency(@portfolio.cash_balance) %>   
      </li>
      <li>
        Market Value of Holdings: <%= number_to_currency(@market_value) %>
      </li>
      <li>
        Portfolio Value: <%= number_to_currency(@portfolio.total_value(@quotes)) %>
      </li>
    </ul>
  </p>
</div>

<%= pie_chart @portfolio.mv_allocations(@quotes), donut: true %>

<div class="pt-3">
  <h3 class="summary-headers">
    <strong>Holdings</strong>
  </h3>
</div>

<table class="table table-sm table-hover small" >
  <thead>
    <tr>
      <th>
        Asset
      </th>
      
      <th>
        Ticker
      </th>

      <th>
        Quantity Held
      </th>

      <th>
        Current Price
      </th>
      
      <th>
        Market Value
      </th>

      <th>
        Exposure
      </th>

    </tr>
  </thead>
  <tbody>
    <% @marks.sort_by { |hsh| hsh[:market_value] }.reverse.each do |h| %>
    <tr>
      <td>
        <strong><%= h[:asset].name %></a></strong>
      </td>
       <td>
        <%= h[:asset].ticker %></a>
      </td>
      <td>
        <%= h[:quantity] %></a>
      </td>
      <td>
        <%= number_to_currency(h[:current_price]) %></a>
      </td>
      <td>
        <%= number_to_currency(h[:market_value]) %></a>
      </td>
      <td>
        <%= number_to_percentage(h[:market_value] / (@market_value + @portfolio.cash_balance) * 100 ) %></a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
