<% if current_user == @portfolio.user %>
  <%= render 'shared/trade', portfolio: @portfolio %>
<% end %>

<h1>
    <strong>
      <%= @portfolio.name %>
    </strong>
</h1>


<p>
  <strong>Portfolio Manager:</strong>
  <%= @portfolio.user.username %>
</p>

<p>
  <%= image_tag @portfolio.user.image_url, class: "rounded-circle mr-3", width: 50 %>
</p>

<p>
  <strong>About:</strong>
  <%= @portfolio.description %>
</p>

Current Cash Balance: <%= number_to_currency(@portfolio.cash_balance) %>

<h2> Holdings </h2>

<%= render 'holdings', portfolio: @portfolio %>

<p>
  <%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
  <%= link_to 'Back', portfolios_path %>
</p>