<% @holdings = @portfolio.holdings %>
<% @market_value = @portfolio.market_value(@holdings)%>

<% if current_user == @portfolio.user %>
  <%= render 'shared/trade', portfolio: @portfolio %>
<% end %>

<h1>
  <strong>
    <%= @portfolio.name %>
  </strong>
</h1>

<%= render 'navbar', portfolio: @portfolio %>

<p>
  <%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
  <%= link_to 'Back', portfolios_path %>
</p>