<p id="notice"><%= notice %></p>

<p>
  <strong>
    <%= @portfolio.name %>
  </strong>
</p>

<p>
  <strong>About:</strong>
  <%= @portfolio.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @portfolio.username %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
