<% @holdings = @portfolio.holdings %>
<% @market_value = @portfolio.market_value(@holdings)%>

<% if current_user == @portfolio.user %>
  <%= render 'shared/trade', portfolio: @portfolio %>
<% end %>

<h1>
    <strong>
      <%= @portfolio.name %>
    </strong>
</h1>


<p>
  <strong>Portfolio Manager:</strong>
  <%= @portfolio.user.username %>
</p>

<p>
  <%= image_tag @portfolio.user.image_url, class: "rounded-circle mr-3", width: 50 %>
</p>

<p>
  <strong>About:</strong>
  <%= @portfolio.description %>
</p>

<p>
  <ul>
    <li>
      Current Cash Balance: <%= number_to_currency(@portfolio.cash_balance) %>   
    </li>
    <li>
      Market Value of Holdings: <%= number_to_currency(@market_value) %>
    </li>
    <li>
      Portfolio Value: <%= number_to_currency(@market_value + @portfolio.cash_balance) %>
    </li>
  </ul>
</p>

<h2> Holdings </h2>

<%= render 'holdings', portfolio: @portfolio %>

<p>
  <%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
  <%= link_to 'Back', portfolios_path %>
</p>