<% @holdings = @portfolio.holdings %>
<% @market_value = @portfolio.market_value(@holdings)%>

<% if current_user == @portfolio.user %>
  <%= render 'shared/trade', portfolio: @portfolio %>
<% end %>

<h1>
  <strong>
    <%= @portfolio.name %>
  </strong>
</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><%= render 'summary', portfolio: @portfolio %></div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><%= render 'blog', portfolio: @portfolio %></div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"><%= render 'trades', portfolio: @portfolio %></div>
</div>

<%#= render 'navbar', portfolio: @portfolio %>

<p>
  <%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
  <%= link_to 'Back', portfolios_path %>
</p>