<% @holdings = @portfolio.holdings %>
<% @market_value = @portfolio.market_value(@holdings)%>

<% if current_user == @portfolio.user %>
  <%= render 'shared/trade', portfolio: @portfolio %>
<% end %>

<div>
  <h1>
    <strong>
      <%= @portfolio.name %>
    </strong>
  </h1>
</div>

<div class="pt-3">
  <%= render 'navbar', portfolio: @portfolio %>
</div>

<p>
  <%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
  <%= link_to 'Back', portfolios_path %>
</p>