<p id="notice"><%= notice %></p>

<p>
  <strong>
    <%= @portfolio.name %>
  </strong>
</p>

<p>
  <strong>About:</strong>
  <%= @portfolio.description %>
</p>

<% if current_user == @portfolio.user %>
  <%= render 'trade', portfolio: @portfolio %>
<% end %>

<p>
  <strong>Portfolio Manager:</strong>
  <%= @portfolio.user.username %>
</p>

<%= image_tag @portfolio.user.image_url, class: "rounded-circle mr-3", width: 50 %>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
