<% if @portfolio.user.image_url != nil %>
  <% profile_pic = @portfolio.user.image_url %>
<% else %>
  <% profile_pic = "https://robohash.org/somephoto" %>
<% end %>

<% manager = portfolio.user %>

<div class="container p-4">
  <div class="d-flex">
    <%= image_tag profile_pic, class: "rounded-circle", width: 50, height: 50 %>
    <div class="container">
      <div class="about-pane-body pt-2 font-weight-bold"><%= link_to manager.username, user_path(manager.username), class:"redlink" %></div>
      <div class="text-muted body-sm">
        <%= @portfolio.user.followers.count %> follower<%= @portfolio.user.followers.count == 1 ? "" : "s" %>
      </div>
      <div class="text-muted body-sm pt-2">
        <%= portfolio.user.bio %>
      </div>
    </div>
  </div>


  <div class="d-flex flex-row-reverse pt-3">
    <div class="pl-2">  
      <div class="btn btn-info button-rounded">
        <%= link_to @portfolio.user.twitter_url do %>
          <div>
            <i class="fab fa-twitter" style="color:white""></i>
          </div>
        <% end %>
      </div>
    </div>
    
    <div class="pl-2">
      <button type="button" class="btn btn-info button-rounded"><i class="fas fa-envelope"></i></button>
    </div>

    <div>
      <%= link_to "Follow", new_follow_path( :leader_id => @portfolio.user.id ), class:"btn btn-info button-rounded whitelink", style:"width:100px" %>
    </div>

  </div>
</div>

<div class="container p-2">
  <strong>Articles from <%= portfolio.user.username %></strong>

  <% portfolio.user.posts.order(:created_at).reverse.each do |post| %>
    <div>
      <div class="card border-0">
        <%= render 'shared/post', post: post %>
      </div>
    </div>
  <% end %>
</div>
