<h3>
  <strong><%= post.title %></strong>
</h3>
<div>
  <div class="subtitle pt-2">
    <%= post.subtitle %>
  </div>

  <div class="body-md pt-3">
    <i>By <%= link_to post.author.username, user_path(post.author.username) %></i>
  </div>

  <div class="post-timestamp pt-2">
    <p>
      <i class="far fa-clock fa-fw"></i></i>
      <%= time_ago_in_words(post.created_at) %> ago
    </p>
  </div>
  
  <div class="writing pt-3 pb-3">
    <p>
      <%= post.body %>
    </p>
  </div>

  <% if current_user == post.author %>
    <div class="body-sm">
      <%= link_to 'Edit Post', edit_post_path(post) %>
    </div>
  <% end %>

  <div class="pt-3"></div>
</div>
