<% if post.author.image_url != nil %>
  <% profile_pic = post.author.image_url %>
<% else %>
  <% profile_pic = "https://robohash.org/somephoto" %>
<% end %>

<div class="card-body">
  <h5 class="card-title discover-title"><%= link_to post.title, post, class:"redlink" %></h5>
  <div class="d-flex align-items-center pb-3">
    <%= image_tag profile_pic, class: "rounded-circle", width: 20, height: 20 %>
    <div class="card-username p-1" style="color:grey"><%= link_to post.author.username, post.author.username, class:"redlink" %> | <%= link_to post.portfolio.name, post.portfolio, class:"redlink-secondary" %></div>    
    <div>
      
    </div>
  </div>
  <div class="card-text text-muted dm-sans"><%= post.subtitle %></div>
  <div class="post-timestamp float-right">
    <div class="pt-2 pb-2">
      <i class="far fa-clock fa-fw"></i></i>
      <%= time_ago_in_words(post.created_at) %> ago
    </div>
  </div>
</div>
